body {
	margin: 0;
	background-image: url("../images/adriel-kloppenburg-14824.jpg");
	background-size: 100%;
	z-index: 0;
}

.topnav {
	overflow: hidden;
	background-color: rgb(223, 223, 223);
	margin: auto;
	padding: 0px 150px;
}

.topnav a {
	float: left;
	color: #777777;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
	font-size: 20px;
	margin: auto;

}



.topnav a:hover {
	background-color: #4aaaa5;
	color: rgb(243, 243, 243);
}

.topnav a.active {
	background-color: #4aaaa5;
	color: #ffffff;
	padding-left: 50px;
	font-size: 27px;
	align-content: center;
}

#pic {
	padding: 16px 16px;
	border-radius: 50%;
	float: left;
}

.section {
	margin: 50px 20px 50px 150px;
	height: 500px;
	width: 670px;
	background-color: rgb(223, 223, 223);
	padding: 30px 30px;
	z-index: 1;
	float: left;
}

.section3 {
	margin: 50px 20px 50px 150px;
	height: 500px;
	width: 670px;
	background-color: rgb(223, 223, 223);
	padding: 30px 30px;
	z-index: 1;
	float: left;
}



.aside {
	margin: 50px 20px;
	height: 150px;
	width: 270px;
	padding: 30px 30px;
	background-color: rgb(223, 223, 223);
	z-index: 1;
	float: left;
}

footer {
	position: fixed;
	bottom: 10px;
	text-align: center;
	width: 100%;
}

h3 {
	color: rgb(223, 223, 223);
	text-align: center;
}

h1 {
	padding-left: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	color: #4aaaa5;
}

h4 {
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	color: #4aaaa5;
}

.social {
	height: 67px;
	width: 67px;
	align-content: center;
}

p {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 18px;
	float: left;
	padding-top: 17px;
	color: #777777;
	line-height: 1.8;
}

img {
	padding: 16px 16px;
	float: left;
}

#bus {
	padding: 25px 25px;
	align-content: center;
	width: 265px;
	height: 195px;
}

form {
	line-height: 1.50;
	color: #777777;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 21px;
}

.section2 {
	margin: 50px 20px 50px 150px;
	height: 750px;
	width: 670px;
	background-color: rgb(223, 223, 223);
	padding: 30px 30px;
	z-index: 1;
	float: left;
	align-content: center;
}

.display {
    vertical-align: top;
    display: inline-block;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
	font-size: 20px;
}

.caption {
    display: block;
}

#email {
	color: #d37f12
}

* {
    box-sizing: border-box;
}





@media only screen and (max-width: 980px) {
	/* For desktop: */
	.section {
		height: 520px;
		width: 300px;
		font-size: 15px;
align-content: center;
padding: 10px;
margin: 50px 50px 50px 50px;
	}

	.section3 {
		height: 520px;
		width: 300px;
		font-size: 15px;
align-content: center;
padding: 10px;
margin: 50px 50px 50px 50px;
	}

	#pic {
		align-content: center;
		clear: right;
		width: 70%;
		height: 70%;
		float: none;
		padding: 5px;
		margin: 5px 35px;
	}

	.topnav {
		width: 100%;
		padding: 0px 20px 0px 0px;
	}

	.topnav a {
		padding-right: 50px;


	}

	p {
		font-size: 12px;
	}

}

@media only screen and (max-width: 768px) {
    /* For desktop: */


	.topnav {
		width: 100%;
		padding: 0px 0px 0px 0px;
	}

	.topnav a {
		padding-right: 20px;
}

	#pic {
		padding: 16px 16px;
		float: left;
		border-radius: 50%;
		width: 30%;
		height: 30%;

	}

	p {
		font-size: 18px;
	}

	.aside {
		margin: 50px 25px;
		height: 150px;
		width: 90%;
		padding: 30px 30px;
		background-color: rgb(223, 223, 223);
		z-index: 1;
		float: left;
	}

	.section {
		margin: 50px 25px 10px 25px;
		height: 500px;
		width: 90%;
		background-color: rgb(223, 223, 223);
		padding: 30px 30px;
		z-index: 1;
		float: left;
	}

	.section3 {
		margin: 50px 25px 10px 25px;
		height: 500px;
		width: 90%;
		background-color: rgb(223, 223, 223);
		padding: 30px 30px;
		z-index: 1;
		float: left;
	}

}

@media only screen and (max-width: 640px) {
	/* For mobile phones: */ 
	.topnav {
		width: 100%;
		padding: 0px 0px 0px 0px;
	}

	.topnav a {
		padding-right: 20px;
		width: 100%;
}

li {
	width: 100%;
}

	#pic {
		padding: 16px 16px;
		float: left;
		border-radius: 50%;
		width: 30%;
		height: 30%;

	}

	p {
		font-size: 18px;
	}

	.aside {
		margin: 20px 25px 40px;
		height: 150px;
		width: 90%;
		padding: 30px 30px;
		background-color: rgb(223, 223, 223);
		z-index: 1;
		float: left;
	}

	.section {
		margin: 50px 25px 10px 25px;
		height: 500px;
		width: 90%;
		background-color: rgb(223, 223, 223);
		padding: 30px 30px;
		z-index: 1;
		float: left;
	}

	.section3 {
		margin: 50px 25px 10px 25px;
		height: 500px;
		width: 90%;
		background-color: rgb(223, 223, 223);
		padding: 30px 30px;
		z-index: 1;
		float: left;
	}


}